*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#0d9c3d, #014b20);
    color: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    width: 150px;
}

.choose-units{
    grid-template-areas: units;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.header {
    grid-area: header;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "header"
    "remaining"
    "units"
    "box"
    ;
}

.box {
    background-color: #0d9c3d;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    grid-area: box;
    grid-template-columns: 700px 700px;
    grid-auto-flow: column;
    grid-template-areas: 
    "vehicle list"
    "load list"
    ;
    width: 100%;
    padding: 1rem;
    margin-bottom: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.warning{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .7rem;
}

.warning i{
    color: #ffd500;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 12px;
}

.logo h1 {
    color: black;
    font-family: 'Fugaz One', cursive;
    font-size: 3rem;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 4% 4%;
    text-align: center;
}

.weight{
    font-size: 2rem;
}

.over-weight{
    font-size: 2rem;
    color: #ff0000;
}

.weight-remaining{
    grid-area: remaining;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    margin-bottom: 5px;
}

.vehicle-weight{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.load{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load h2{
    padding: 1rem;
}

.add-load{
    grid-area: load;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;
    margin: .2rem;
    width: 50%;
    border-radius: 5px;
}

.reset{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;
    margin: .2rem;
}

form label{
    padding: .5rem;
}

form button, .reset {
    background: #ff0000;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover, .reset:hover {
    color: #ff0000;
    background: white;
}

.load-container {
    grid-area: list;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-list {
    min-width: 100%;
    list-style: none;
}

.load {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.load li {
    flex: 1;
}

.delete-btn {
    background: #ff0000;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.load-item {
    padding: 0rem 0.5rem;
}

.fa-solid, .fa-xmark {
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

.units {
    padding: 5px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.error {
    font-weight: bold;
    padding: 5px;
}

@media screen and (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 5px;
        margin-bottom: 40px;
        padding: 5px;
    }
    .vehicle-weight {
        margin-top: 24px;
    }
    .add-load {
        margin-bottom: 12px;
    }
    .load-container {
        margin-bottom: 24px;
    }
}