*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#cc0000, #8f0000);
    color: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header{
    margin: 1rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.warning{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .7rem;
}

.warning i{
    color: #ffd500;
}

.logo{
    display: flex;
    justify-content: center;
    margin: .5em;
}

.logo h1 {
    background: #ffd500;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 2.3rem;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 4% 4%;
    text-align: center;
}

.weight{
    font-size: 2rem;
}

.over-weight{
    font-size: 2rem;
    color: #ff0000;
}

.weight-remaining{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.vehicle-weight{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.load{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load h2{
    padding: 1rem;
}

.add-load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;
    margin: .2rem;
    width: 50%;
}

form label{
    padding: .5rem;
}

form button {
    background: #6b0000;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover {
    color: #6b0000;
    background: white;
}

.load-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-list {
    min-width: 50%;
    list-style: none;
}

.load {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.load li {
    flex: 1;
}

.delete-btn {
    background: #6b0000;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.load-item {
    padding: 0rem 0.5rem;
}

.fa-solid, .fa-xmark {
    pointer-events: none;
}